*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  font-size: 62.5%;
} */

body {
  box-sizing: border-box;
  position: relative;
  background-color: #2A2347;
}

.navbar {
  background-color: darkslateblue;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: white;
}

/* GAME SEARCH COMPONENT */
.search-form {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.search-input {
  flex: 0 0 40%;
}

.search-dropdown {
  flex: 0 0 17%;
}

.search-submit {
  flex: 0 0 25%;
}

/* CARDS GAMES DISPLAY */

.games-display {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.card {
  width: 18%;
}

.card img {
  height: 50%;
}

/* BUTTONS */

.card-btn-red {
  background-color: red;
}

.card-btn-green {
  background-color: green;
}

.card-btn-yellow {
  background-color: yellow;
}

/* LIBRARY */
.library {
  display: flex;
  justify-content: space-between;
}

.library h2 {
  color: white;
}

.backlog {
  width: 33%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.backlog .card {
  width: 100%;
}

.playing {
  width: 33%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.playing .card {
  width: 100%;
}

.completed {
  width: 33%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.completed .card {
  width: 100%;
}